<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  
  <style>
    .select{
    display: inline-block;
    width: 140px;
    height:45px;

    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    
    border-radius: 15px;

   
  }

  body{
   
    background: radial-gradient(rgb(3, 7, 146),rgb(22,23,35));
    
  }
  .s button {
    background-color: white;
   border-color: white;
   border-radius: 15px;

  }
  .s {
    display: inline-block;
    padding-left:90px;
    
    padding-top:30px;
    border-radius: 15px;


  }
 
 .topics button {
  display: block;
  padding: 8px 20px;
  width:200px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color:navy;
  color: #fff;
  border-radius: 12px;
  border-color: white;

  transition: background-color 0.3s ease;
}

.topics {
  
  flex:1;
}
#yo {
  margin-top:30px;
  
  margin-bottom: 30px;
}
.problems {
  background-color: navy;
}
.container {
  display:flex;
}
.problem{
  
  display: relative;
  
  
}
.status div{
 background-color: navy;
 color:white;
 width: 300px;
 height:50px;
 
 border-color:white;
 text-align:center;
}
.status {
 padding-left: 30px;
  padding-bottom: 30px;
  display:flex;
}
.topic{
  flex:1;
}
.problem{
  flex:2;
  background-color: navy;
}
.rating{
  flex:0.5;
  background-color: navy;
}
.to-do{
  flex:0.25;
  background-color: navy;
}
.fav{
  flex:0.25;
  background-color: navy;
}
.problem button {
  align-items: flex-end;
}
#yup div {
    height:500px;
}
#go {
    padding-top: 30px;
}
.dropdown {
    padding-left: 100px;
}
.btn-group {
  margin-left: 50px;
}
.table {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  
}
thead {
  background-color: blue;
}
nav{
  margin-top: 30px;
  margin-bottom: 30px;
}
.star {
  position: relative;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 24px;
  
  &:before, &:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
  }
  
  &:after {  
    transform: rotate(35deg);
  }
}
  </style>
  

  </head>
  <body>
    <header class="py-3 mb-4 border-bottom" data-bs-theme="dark">
      <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">HERE,OUR LOGO!</span>
        </a>
        <div class="dropdown text-end" data-bs-theme="dark">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Name:<%=user.name%></a></li>
            <li><a class="dropdown-item" href="#">Email id:<%=user.email%></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="flex">
        <div class="s" >
          <button class="button">
          <a href="/codeforces">CODEFORCES</a>
      </button>
        </div>
        <div class="s">
          <button>
            <a href="/codechef">CODECHEF</a>
      </button>
        </div>
        <div class="s">
          <button>
            <a href="/leetcode">LEETCODE</a>
      </button>
        </div>
        <div class="s">
          <button>
          <img class="select"src="https://www.krammerliu.com/images/post/leetcode.jpeg"/>
      </button>
        </div>
        <div class="s">
          <button>
          <img class="select"src="https://th.bing.com/th/id/R.94ebf80b695ec938e0c1b05e61cde139?rik=YvFor%2fRsidwTZg&riu=http%3a%2f%2fblog.himanshusheth.net%2fwp-content%2fuploads%2f2017%2f08%2fhackerearth-logo.jpg&ehk=ZJKscHR6ybWk5%2b5L7PB4J2Wb%2falTLR48fSncS5ygnT8%3d&risl=&pid=ImgRaw&r=0"/>
      </button>
        </div>
      </div>
      <nav class="navbar bg-body-">
        
        <div class="container-fluid">
          <a class="navbar-brand"></a>
            <button class="btn btn-outline-success" id="myButton" class="float-left submit-button" >Back</button>

              <script type="text/javascript">
                  document.getElementById("myButton").onclick = function () {
                      location.href = "/main";
                  };
              </script> 
          
        </div>
      </nav>
      <nav class="navbar bg-body-">
        
        <div class="container-fluid">
            <a class="navbar-brand"></a>
            <form class="d-flex" role="search" method="post">
              <input class="form-control me-2"  type="text" name="search" placeholder="Search PROBLEMS" aria-label="Search ">
              <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              </div>
      </nav>
      
      
      <!-- Large button groups (default and split) -->
<div class="btn-group">
  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    DIFFICULTY LEVEL
  </button>
  <ul class="dropdown-menu">
    <li> <a href="/codeforces/all">ALL PROBLEMS</a></li>
    <li><a href="/codeforces/800">800-1000</a></li>
    <li><a href="/codeforces/1100">1100-1300</a></li>
    <li><a href="/codeforces/1400">1400-1600</a></li>
    <li><a href="/codeforces/1700">1700-1900</a></li>
    <li><a href="/codeforces/2000">2000-2200</a></li>
    <li><a href="/codeforces/2300">2300-2500</a></li>
  </ul>
</div>
<div class="btn-group">
  <button class="btn btn-success btn-lg" type="button">
    <%=user.id%>
  </button>
  <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/codeforces/math"                >   MATH      </a></li>
    <li><a href="/codeforces/binary"       >   BINARY SEARCH       </a></li>
    <li><a href="/codeforces/str"              >   STRINGS             </a></li>
    <li><a href="/codeforces/greedy"    >   GREEDY ALGORITHMS   </a></li>
    <li><a href="/codeforces/dp" >   DYNAMIC PROGRAMMING </a></li>
    <li><a href="/codeforces/graph"               >   GRAPHS              </a></li>
    <li><a href="/codeforces/sorting"             >   SORTING             </a></li>
    <li><a href="/codeforces/data"      >   DATA STRUCTURES     </a></li>
    <li><a href="/codeforces/tree"       >   TREES               </a></li>
    <li><a href="/codeforces/imple"   >   IMPLEMENTATION            </a></li>

  </ul>
</div>
<table class="table" data-bs-theme="dark">
  <thead>
    <tr>
      <th scope="col">PROBLEMS</th>
      <th scope="col">TOPICS</th>
      <th scope="col">RATING</th>
      <th scope="col">WEBSITE</th>
      <th scope="col">TO-DO LIST</th>
      <th scope="col">FAV</th>
    </tr>
  </thead>

  <tbody>
    <% product.forEach(products => { %>

      <tr>
          
              <td><a href=<%=products.link%>><%= products.name %></a></td>  
              <td><%= products.topic %> </td>
              <td><%= products.level %> </td>
              <!-- <td><input type="checkbox" id="username" placeholder="username" name="username" value="copyright">
              </td> -->
              <td><%= products.website %> </td>
              
              <td>
               
                     
                      <form action="/add/todo/<%=user.id%>" method="POST">
                        <input type="hidden" value="<%= products.name %> " name="todo">
                        <input type="hidden" value="<%= products.link %> " name="fodo">
                        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
                        
                    </form>
          
                
           
          </td>
          <td>
          <input type="checkbox" id="username" placeholder="username" name="username" value="<%=product.name%>">

              </input></td>

              
      </tr>
      <% })%>
    

    
  </tbody>
</table>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>
          const form=document.getElementsByClassName('tick');
          form.addEventListener("submit",function(){
            const name=product.name;
            const level=product.level;

          })
          localStorage.setItem('name',name);
          localStorage.setItem('level',level);
          window.location.href="to-do.html";
        </script>
      </body>
      
      </html>