<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <style>
    .select{
    display: inline-block;
    width: 140px;
    height:45px;

    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    
    border-radius: 15px;

   
  }

 
  .s button {
    background-color: white;
   border-color: white;
   border-radius: 15px;

  }
  .s {
    display: inline-block;
    padding-left:90px;
    
    padding-top:30px;
    border-radius: 15px;


  }
 
 .topics button {
  display: block;
  padding: 8px 20px;
  width:200px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color:navy;
  color: #fff;
  border-radius: 12px;
  border-color: white;

  transition: background-color 0.3s ease;
}

.topics {
  
  flex:1;
}
#yo {
  margin-top:30px;
  
  margin-bottom: 30px;
}
.problems {
  background-color: navy;
}
.container {
  display:flex;
}
.problem{
  
  display: relative;
  
  
}
.status div{
 background-color: navy;
 color:white;
 width: 300px;
 height:50px;
 
 border-color:white;
 text-align:center;
}
.status {
 padding-left: 30px;
  padding-bottom: 30px;
  display:flex;
}
.topic{
  flex:1;
}
.problem{
  flex:2;
  background-color: navy;
}
.rating{
  flex:0.5;
  background-color: navy;
}
.to-do{
  flex:0.25;
  background-color: navy;
}
.fav{
  flex:0.25;
  background-color: navy;
}
.problem button {
  align-items: flex-end;
}
#yup div {
    height:500px;
}
#go {
    padding-top: 30px;
}
.dropdown {
    padding-left: 100px;
}
.btn-group {
  margin-left: 50px;
}
.table {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  
}
thead {
  background-color: blue;
}
nav{
  margin-top: 30px;
  margin-bottom: 30px;
}
.star {
  position: relative;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 24px;
  
  &:before, &:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
  }
  
  &:after {  
    transform: rotate(35deg);
  }
}
*{
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        }
        body {
            height:100vh;
            background-color: #0a2647;

        }
        .logo img{
           
            height:65px;
            padding-top:10px;
            padding-right:10px;
            width:80px;
           border-radius:50%
        }
        .logo {
            display:flex;

        }
        .logo a{
            font-size: 40px;
            padding-top:10px;
            font-weight: bold;
            

        }
        li {
            list-style:none;
        }
        a{
            text-decoration: none;
            color:#020638;
            font-size: 1rem;
        }
        a:hover{
            color:skyblue;
        }
        header{
            position: relative;
           height:80px;
            background-color: #144272;
        }
        .navbar {
            width:100%;
            height:60px;
            max-width: 1200px;
            margin:0 auto;
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .navbar .links{
            display: flex;
            gap:2rem;
        }
        ul li a{
            font-size:1.5rem;
        }
        .navbar .toggle_btn {
            color:#fff;
            font-size:2rem;
            cursor:pointer;
            display:none;
        }
        .btn {
            display:flex;
            justify-content: space-around;
        }
        .action-btn{
            font-size: 1.5rem;
            background-color: #39b5e0;
            color:#fff;
            padding:0.5rem 1rem;
            margin-right:5px;
            border:none;
            outline:none;
            border-radius: 20px;
            font-size: 0.8rem;
            font-weight: bold;
            cursor:pointer;
            transition: scale 0.2 ease;
        }
        .action-btn:hover{
            scale:1.05;
            color:#fff;
        }
        .action-btn:active {
            scale:0.95;
        }
        .dropdown_menu {
            display:none;
            position:absolute;
            right:2rem;
            top:60px;
            height:0;
            width:300px;
            background:rgba(255,255,255,0.1);

            z-index: 10;
            border-radius:10px;
            overflow:hidden;
            transition:height cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .dropdown_menu.open{
            height:370px;
        }
        .dropdown_menu li{
            padding:0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .dropdown_menu .action-btn{
            width:100%;
            display:flex;
            justify-content: center;
        
        }
        .row {
            display:flex;
            justify-content:space-between;
            align-items: center;
            margin:100px 0;
        }
        .col-1 {
            flex-basis:40%;
            position:relative;
            margin-left:50px;
        }
        .col-1 h1{
            font-size: 54px;
            color:#39b5e0;

        }
        .col-1 p{
            font-size:24px;
            color:#fff;
            font-weight: 100;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin: 30px 0;
       
        }
        .col-2{
            margin-right: 10%;
        }
        img {
            width:90%;
        }
        
         @media only screen and (max-width: 700px){
            .navbar .links,
            .navbar .action-btn{
                display:none;
            }
            .navbar .toggle_btn{
                display:block;
        
            }
            .dropdown_menu{
                display:block;
            }
            .row {
                flex-direction:column-reverse;
                margin: 50px 0;
            }
            .col-2 {
                flex-basis:100%;
                margin-bottom:50px;

            }
            .col-2 img{
                width:78%;
                padding-left: 20%;

            }
            .col-1{
                flex-basis:100%;

            }
            .col-1 h1{
                font-size: 35px;
            }
            .col-1 p{
                font-size:18px;
            }
            }
        @media (max-width: 576px) {
            .dropdown_menu {
                left:2rem;
                width:unset;
            }
        }
        .btn {
  
  
  display: flex;
  align-items: center;
  justify-content: f;
 
  width:200px;
height:50px;
  border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    background-image:linear-gradient(45deg, #020638,#059083) ;
    
    color:white;
    font-weight: 500;
   
}
.btn:hover{
  scale:1.15;
  
}
.btm:active{
  scale:0.85;
}
.f{
  display:flex;
justify-content: center;
}
@media(max-width:576px){
  .f{
    display:block;
  }
}
.dropdown_menu a{
  color:white;
}
.navbar a{
  color:white;
}
.table a{
  color:white;
}
btn-group{
  padding-top: 10px;
  margin-top: 20px;
}
.dropbtn {
    background-image:linear-gradient(45deg, #020638,#059083) ;
  color: white;
  
   height:40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:12px;
  font-weight: bolder;
  
}
@media (max-width:576px){
    .dropbtn{
        width:50px
    }
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
  </style>
  >
  

  </head>
  <body>
    <header>
      <div class="navbar">
          <div class="logo"><img src="https://i.imgur.com/snfPYKq.jpg"/>
              <a href="#">CP-PORTAL</a></div>
          <ul class="links">
              <li><a href="/dashboard">Home</a></li>
              <li><a href="/main">Contests</a></li>
              <li><a href="/learn">Learn</a></li>
              <li><a href="/problem">Problems</a></li>
              <li><a href="please/<%=user.id%>">To-do</a></li>
              <li><a href="/profile">Contact Us</a></li>
          </ul>
          <div class="mtn">
          <a href="/users/logout" class="action-btn">Logout</a>
          </div>
          
          <div class="toggle_btn">
              <i class="fa-solid fa-bars"></i>
          </div>
      </div>
      <div class="dropdown_menu">
          <li><a href="/dashboard">Home</a></li>
              <li><a href="/main">Contests</a></li>
              <li><a href="/learn">Learn</a></li>
              <li><a href="/problem">Problems</a></li>
              <li><a href="/please/<%=user.id%>">To-do</a></li>
              <li><a href="/profile">Contact Us</a></li>
              <li><a href="/users/logout" class="action-btn">Logout</a></li>
             
      </div>
    </header>
    <div class="f">
      <div class="s">
        <a href="/codeforces" class="btn btn-primary">CODEFORCES</a>
      </div>
        <div class="s">
          
            <a href="/codechef" class="btn btn-primary">CODECHEF</a>
     
        </div>
        <div class="s">
          <a href="/leetcode" class="btn btn-primary">LEETCODE</a>
        </div>
        </div>
        
      
      
      
      
      
      <!-- Large button groups (default and split) -->
<div class="btn-group">
  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    DIFFICULTY LEVEL
  </button>
  <ul class="dropdown-menu">
    <li> <a href="/leetcode/all">ALL PROBLEMS</a></li>
    <li><a href="/leetcode/1">1</a></li>
    <li><a href="/leetcode/2">2</a></li>
    <li><a href="/leetcode/3">3</a></li>
  </ul>
</div>
<div class="btn-group">
  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    TOPICS
  </button>
  <ul class="dropdown-menu">
    <li><a href="/leetcode/math"    >   MATH      </a></li>
    <li><a href="/leetcode/array"   >   ARRAYS      </a></li>
    <li><a href="/leetcode/binary"  >   BINARY SEARCH       </a></li>
    <li><a href="/leetcode/string"     >   STRINGS             </a></li>
    <li><a href="/leetcode/greedy"  >   GREEDY ALGORITHMS   </a></li>
    <li><a href="/leetcode/dynamic"      >   DYNAMIC PROGRAMMING </a></li>
    <li><a href="/leetcode/graph"   >   GRAPHS              </a></li>
    <li><a href="/leetcode/sorting" >   SORTING             </a></li>
    <li><a href="/leetcode/prefix"    >   PREFIX SUM     </a></li>
    <li><a href="/leetcode/two"    >   TWO POINTERS               </a></li>
    
  </ul>
</div>
<table class="table" data-bs-theme="dark">
  <thead>
    <tr>
      <th scope="col">PROBLEMS</th>
      <th scope="col">TOPICS</th>
      <th scope="col">RATING</th>
      <th scope="col">WEBSITE</th>
      <th scope="col">TO-DO LIST</th>
      
    </tr>
  </thead>

  <tbody>
    <% product.forEach(products => { %>

      <tr>
          
              <td><a href=<%=products.link%>><%= products.name %></a></td>  
              <td><%= products.topic %> </td>
              <td><%= products.level %> </td>
              <!-- <td><input type="checkbox" id="username" placeholder="username" name="username" value="copyright">
              </td> -->
              <td><%= products.website %> </td>
              
              <td>
               
                     
                      <form action="/add/todo/<%=user.id%>" method="POST">
                        <input type="hidden" value="<%= products.name %> " name="todo">
                        <input type="hidden" value="<%= products.link %> " name="fodo">
                        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
                        
                    </form>
          
                
           
          </td>
          

              
      </tr>
      <% })%>
    

    
  </tbody>
</table>
        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> 
<script>
    const toggleBtn= document.querySelector('.toggle_btn')
    const toggleBtnIcon= document.querySelector('.toggle_btn i')
    const dropDownMenu= document.querySelector('.dropdown_menu')
    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
   
function myFunction() {
document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
if (!event.target.matches('.dropbtn')) {
var dropdowns = document.getElementsByClassName("dropdown-content");
var i;
for (i = 0; i < dropdowns.length; i++) {
  var openDropdown = dropdowns[i];
  if (openDropdown.classList.contains('show')) {
    openDropdown.classList.remove('show');
  }
}
}
}
</script>
      </body>
      
      </html>